@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap');
/* keeping classes as parent, then id as anything related, "children" basically. or anything small and quick. */
/* all @media code is placed at the bottom of the css */
/* trying to find a lower-quality grass image to use to use less bandwidth for fucking grass */

body {
  margin: 0;
  background: #f5f5f5
  }

.sjured {
  color: #9E1B32
}

.sjutiempos {
  font-family: "Tiempos-Text";
}

#top {
  top: 20px;
  left: 10px;
  font-family:'Tiempos-Text';
  height: 20vh;
  width: 100vw;
  align-content: flex-start;
  justify-content: center;
  text-align: left;
  color: #a2af9f;
}

#spacer-2 {
     margin-bottom: 2cm;
  }

#spacer-4 {
     margin-bottom: 4cm;
  }
  
#spacer-8 {
    margin-bottom: 8cm;
  }

#bottom {
    vertical-align: top;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-right: 75px;
    border-radius: 5px;
    }
    
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9e1b32;
  padding: 0 40px;
  height: 70px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 40px;
  height: 82.6px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 70px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.nav-center {
  display: flex;
  gap: 40px;
}

.nav-center a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-right a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
}
.btn {
  border: 1px solid white;
}
#navbar a:hover {
  opacity: 0.8;
}
    
#hero {
  background:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url("../static/CommGarden2.jpg");
  background-size: cover;
  background-position: center;
  height: 850px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-content {
  font-family: "Archivo Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  background: white;
  padding: 40px;
  text-align: center;
  margin-bottom: -150px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  width: 800px;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons a {
  border: 2px solid #9e1b32;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#dataicon {
  width: 6%;
  float: left;
  vertical-align: auto;
}

  #switch {
    vertical-align: top;
    background-color: #543F2F;
    padding: 5px 5px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: #E69A4B;
    flex-grow: 1;
    text-align: left;
    color: #A8A;
    }

 #dominant {
   font-family:'Tiempos-Text';
   color: #999;
   text-decoration: underline dotted 5px #249535;
   text-align: center;   
   }
   
#grasstext-alt {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 18%, rgba(20, 83, 183, 1) 43%);
}

#site-footer {
  background: #f5f5f5
}

@media (max-width: 768px) {
 
 #hero {
  min-height: 70vh;
 }
 
 .hero-content {
  width: 90%;
  max-width: 800px;
  } 
  
  
  #navbar {
  display: none
  }

  #navbar-alt {
  display: none
  }
  
  #hero {
 height: 800px;
 background-position: top;
  }
  
} /* @media end bracket */

   
