body {
  background: #33C7E8;
  background: linear-gradient(180deg, rgba(51, 199, 232, 1) 18%, rgba(20, 83, 183, 1) 43%, rgba(3, 18, 156, 1) 100%);
  }

#top {
  top: 20px;
  left: 10px;
  font-family:'Tiempos-Text';
  height: 20vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #a2af9f;
}

#bottom {
    vertical-align: top;
    padding: 20px;
    margin:10px;
    flex-direction: row;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    }
    
  #switch {
    vertical-align: top;
    display: inline-block;
    background-color: #d8a152;
    padding: 5px 5px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: #9c300c;
    flex-grow: 1;
    text-align: center;
    }

 #dominant {
   font-family:'Tiempos-Text';
   color: #010203;
   text-decoration: underline dotted 5px #047515;
   text-align: center;   
   }
