<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>Community Garden Dashboard</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&amp;display=swap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="navbar">

  <div class="nav-left">
    <span class="logo">Saint Joseph's University</span>
  </div>

  <div class="nav-center">
  </div>

  <div class="nav-right">
    <a href="https://www.sju.edu/visit-us" class="btn">VISIT</a>
    <a href="https://www.sju.edu/apply" class="btn">APPLY</a>
    <a href="https://www.sju.edu/alumni/impact" class="btn">GIVE</a>
  </div>

</div>

<div id="navbar-alt">
</div>

<div id=top> <img width="550vw" height="auto" src="{{ url_for('static', filename='sju_wordmark_horz_color.svg') }}" style="padding: 0px 3vw;"></div>
<p><a href="{{ url_for('list_plots') }}">Back to plot list</a></p>

<div id="bottom">
</div>

<!-- button to pull live data -->
<button id="liveBtn">Get Live Data</button>

<script src="{{ url_for('static', filename='data_display.js') }}"></script>

</body>
</html>
