<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>Community Garden Dashboard</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&amp;display=swap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="navbar">

  <div class="nav-left">
    <span class="logo">Saint Joseph's University</span>
  </div>

  <div class="nav-center">
  </div>

  <div class="nav-right">
    <a href="https://www.sju.edu/visit-us" class="btn">VISIT</a>
    <a href="https://www.sju.edu/apply" class="btn">APPLY</a>
    <a href="https://www.sju.edu/alumni/impact" class="btn">GIVE</a>
  </div>

</div>

<div id="navbar-alt">
</div>

<section id="hero">
  <div class="hero-content">
    <h1>COMMUNITY GARDEN</h1>
    <h2 class="sjured"> at Saint Joseph's University </h2>
    <p>
      Web-Based dashboard for the digital monitoring components
      of the Community Garden.
    </p>

    <div class="hero-buttons">
      <a href="/list">LIST OF ALL PLOTS</a>
    </div>
  </div>
</section>

<div id="spacer-8">
</div>


<div id="bottom"> 
	<div id="bed1" class="bed-card">
		<h1>Bed 1</h1>
		<h2>Loading...</h2>
	</div>
	<div id="bed2" class="bed-card">
		<h1>Bed 2</h1>
		<h2>Loading...</h2>
	</div>
	<div id="bed3" class="bed-card">
		<h1>Bed 3</h1>
		<h2>Loading...</h2>
	</div>
	<div id="bed4" class="bed-card">
		<h1>Bed 4</h1>
		<h2>Loading...</h2>
	</div>
</div>

<footer id="site-footer">
  <div id="spacer8">
    <div id="spacer8">
    </div>
  </div>
</footer>

<script src="{{ url_for('static', filename='data_display.js') }}"></script>

</body>
</html>
