<!DOCTYPE html>
<html>
<head>
  <title>Planter Box Dashboard</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<div id=top> <img width="550vw" height="auto" src="{{ url_for('static', filename='sju_wordmark_horz_color.svg') }}" style="padding: 0px 3vw;"></div>



<div id="bottom"> 
	<div id="switch"> <h1>Temperature</h1> <p>{{current_data.temperature}}</p></div>
	<div id="switch"> <h1>Humidity</h1> <p>{{current_data.humidity}}</p> </div>
</div>


</body>
</html>
